*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 700px;
    border: 1px solid yellow;
    background-color: aqua;
    
    display: grid;
    /* grid-template-rows: 30px  400px 30px;
    grid-template-columns:  200px 400px; */

    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 250px 600px;

    grid-template-areas: 
    "hd hd hd hd hd hd hd hd "
    "side main main main main main main main"
    "ft ft ft ft ft ft ft ft";
}

.box{
    /* height: 100px;
    width: 100px; */
    background-color: rgb(98, 0, 255);
    border: 1px solid red;


}

#header{
    grid-area: hd;
}

#footer{
    grid-area: ft;
}

#content{
    grid-area: main;
}

#sidebar{
    grid-area: side;
}