.container{
    border: 1px solid brown;
    background-color: yellowgreen;

    height: 700px;
    width: 600px;

    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px;

    /* grid-gap: 10px; */

     /* justify-content: start; */
    /* justify-content: end;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly; */ 

    /* align-items:start ; */
     /* align-items:end; 
     align-items: center;
    align-items: baseline;
    align-items: stretch; */

    /* align-content: start;
    align-content: end;
    align-content: center;
    align-content: space-between;
    align-content: space-around;
    align-content: space-evenly; */


    place-content: center;
    
}

.box{
    border: 1px solid red;
    background-color: aqua;
}

#bx-1{
    /* justify-self: start;
    justify-self: end;
    justify-self: center;
    justify-self:stretch ; */



    /* align-self: flex-start;
    align-self: flex-end; */
    /* align-self: center; */
}